<div class="page-header">
  <h3>Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Product number</dt>
      <dd><%= @review.product_number %></dd>

      <dt>Review</dt>
      <dd><%= @review.review_id %></dd>

      <dt>Review date</dt>
      <dd><%= @review.review_date %></dd>

      <dt>Review rating</dt>
      <dd><%= @review.review_rating %></dd>

      <dt>Review text</dt>
      <dd><%= @review.review_text %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
